@font-face {
  font-family: "iconfont"; /* Project id 4354283 */
  /* Color fonts */
  src: 
       url('@/static/iconfont/iconfont.woff2?t=1701411268563') format('woff2'),
       url('@/static/iconfont/iconfont.woff?t=1701411268563') format('woff'),
       url('@/static/iconfont/iconfont.ttf?t=1701411268563') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mian:before {
  content: "\ec1e";
}

.icon-xian:before {
  content: "\ec1f";
}

.icon-caozuo:before {
  content: "\e6d7";
}

.icon-gengduo1:before {
  content: "\e67c";
}

.icon-icon-test:before {
  content: "\e623";
}

.icon-gengduo3:before {
  content: "\e613";
}

.icon-gengduo4:before {
  content: "\e646";
}

.icon-gengduo5:before {
  content: "\ec49";
}

.icon-mianji:before {
  content: "\e634";
}

.icon-dingweidian--:before {
  content: "\e607";
}

.icon-daohang:before {
  content: "\e604";
}

.icon-jian:before {
  content: "\e626";
}

.icon-bianji:before {
  content: "\e62c";
}

.icon-tuceng:before {
  content: "\e63e";
}

.icon-bianjiputong:before {
  content: "\e62d";
}

.icon-tianjia1:before {
  content: "\e612";
}

.icon-tuceng1:before {
  content: "\e77d";
}

.icon-tuceng--:before {
  content: "\e608";
}

.icon-weizhimudedi:before {
  content: "\e677";
}

.icon-zengjiatuceng:before {
  content: "\ec32";
}

.icon-quxianlujing:before {
  content: "\ec36";
}

.icon-tucengshuxing:before {
  content: "\ec55";
}

.icon-youxianzhuanhuanweilujing:before {
  content: "\ec6f";
}

.icon-tucengfengge:before {
  content: "\eca5";
}

.icon-weizhi:before {
  content: "\e629";
}

.icon-tubiaozhizuosvg-37:before {
  content: "\e605";
}

.icon-jianqu:before {
  content: "\e614";
}

.icon-mianji-4:before {
  content: "\e7c6";
}

.icon-daochu1024-19:before {
  content: "\e616";
}

.icon-weizhi2:before {
  content: "\ebd2";
}

.icon-quxiao1:before {
  content: "\ec56";
}

.icon-quxiao3:before {
  content: "\ed1a";
}

.icon-dingwei:before {
  content: "\e619";
}

.icon-map1:before {
  content: "\e673";
}

.icon-gengduo:before {
  content: "\100dc";
}

.icon-xiaoxi:before {
  content: "\100df";
}

.icon-gonggao:before {
  content: "\100e0";
}

.icon-quxianxiufu:before {
  content: "\e678";
}

.icon-a-031_quxiao-89:before {
  content: "\e6ab";
}

